.dataTables_wrapper tr td:nth-child(1), 
.dataTables_wrapper th:nth-child(1) {
    display: none;
}
th.sorting {
    background-color: #C74E4A;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 1em;
    padding: 5px 15px 5px 15px;
} 
table.mdb-dataTable thead .sorting_desc:after {
    display: none;
}