/*Main Header*/
.headerRow {
  background-color: #f5f5f5;
  height: 75px;
}
.col-Heading h1 {
  text-align: center;
  color: #252525;
  font-size: 30px;
  padding-top: 15px;
}
.col-Searching {
  padding-top: 10px;
}
.col-Searching .form-inline {
  text-align: center;
}
.btn-outline-danger {
  background-color: #d11 !important;
  border: none;
  color: #fff !important;
}
.btn-outline-danger:hover {
  color: #d11;
  border: 1px solid #d11;
  background: transparent;
}
.MuiFormControl-fullWidth {
  width: 90% !important;
}
/*Navbar Component*/
.navbar {
  background-color: #037 !important;
}
.main-nav {
  color: #fff;
  font-size: 17px;
}
.logRight {
  justify-content: flex-end !important;
}
.navbar-collapse {
  justify-content: flex-end !important;
}
.navbar-light .navbar-nav .nav-link {
  color: #fff !important;
  font-size: 17px;
  text-decoration: none;
}
.nav-link:hover,
.main-nav:hover {
  color: #252525;
  text-decoration: none;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #252525 !important;
  background-color: #dff;
  border-radius: 10px;
}
.dropdown-menu .dropdown-item a {
  color: #252525;
  text-decoration: none;
}
.dropdown-item:hover {
  background-color: #dff !important;
}

/*Card Component*/
.card {
  background-color: #e7ebf0 !important;
  border: none !important;
}

/*Title*/
.header-body h2 {
  font-family: "Lato", Verdana, Geneva, Arial, Helvetica, sans-serif;
  color: #173d6e;
  font-size: 25px;
  font-weight: 300;
}

/*Login Page*/
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App-header {
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.col-form-label {
  text-align: end;
}
.btnPosition {
  width: 66%;
  margin: auto;
}
.btnPosition input {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btnPosition input:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.react-tabs__tab-list {
  border-bottom: 0px solid white !important;
}
.react-tabs__tab--selected {
  background-color: #d11 !important;
  color: white !important;
  border-radius: 0px !important;
}
.react-tabs__tab {
  background-color: #ffe6e6;
  width: 24.8rem;
}

/*Current Page*/
.main-container {
  padding-bottom: 5rem;
}
.closing_date {
  color: #990000;
  font-weight: bold;
}
.tender-row-state {
  color: #007700;
  font-weight: bold;
}
.table td,
.table th {
  vertical-align: middle !important;
}
.tender-link {
  color: #003366;
  text-decoration: underline;
}

/*Icom*/
.iconStyle {
  background-color: #444;
  border-radius: 20px;
  color: white;
}

/*News and Home*/
.n-title {
  border: 1px solid black;
  background-color: #f0f0f0;
  padding: 0;
}
.n-title h2 {
  font-family: "Lato", Verdana, Geneva, Arial, Helvetica, sans-serif;
  color: #173d6e;
  font-size: 20px;
  font-weight: bold;
  padding: 1vh 0.5vw;
  margin-bottom: 1vh;
}
.n-title h2 a:link,
.n-title h2 a:active {
  text-decoration: underline;
  color: #003366;
}
.NEWS_DATE {
  font-size: 10px;
  font-style: italic;
}
.excerpt {
  font-family: "Lato", sans-serif, Helvetica, Verdana, Geneva, Arial, Helvetica,
    sans-serif;
  font-size: 12pt;
}
.linkStyle {
  color: #003366;
  text-decoration: underline;
}
.btn-primary {
  color: #fff;
  background-color: #037 !important;
}
.displayInline {
  display: inline;
}
.textStyle {
  color: black;
  font-size: 15px;
}

/*Scroll*/
.modal-open {
  overflow-y: scroll !important;
  overflow-x: hidden !important;
}

/*Home Page*/

/*Video and Context*/
.videoContainer {
  width: 85% !important;
}
.videoHeight {
  width: 85%;
  margin: auto;
  padding: 25px;
}
.videoHeading {
  margin-bottom: 12px;
    font-size: 40px;
    font-weight: 700;
    color: #173d6e;
}
.sub-heading {
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 30px;
  margin-top: 14px;
  color: #777777;
}
.decorator {
  width: 84px;
  height: 3px;
  background-color: #d11;
}
.spacer {
  height: 80px;
}
.video {
  margin: auto;
}
.contactBar {
  background-color: #037;
}

/*Footer Bar*/
